<% entries.each do |e| %>
<%= e.class %>
<ul>
  <li>
    <strong><%= e.title.humanize %></strong>
    <%= link_to "Edit", edit_content_entry_path(e) %>
    <% e.payload.each do |k,v| %>
      <p><small class="upcase"><%= k %></small>: <%= v %></p>
    <% end %>
    <% if e.entries.any? %>
      <%= render partial: 'sub_entry', collection: entry.entries %>
    <% end %>
  </li>
</ul>
<% end %>